/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center_element_virtically{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_image_container{
    height: 288px;
    width: 100%;
    background: black;
    opacity: 0.8;
}

.header_image{
    height: 288px;
    width: 100%;
    opacity: 0.2;
}

.content_container{
    gap: 60px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content_left{
    flex: 1;

    font-size: 55px;
}

.content_right{
    flex: 1;
}

.content_divisions{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    gap: 50px;
}

.content_divisions_header{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.content_divisions_logos{
    max-width: 1160px !important;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.content_divisions_logo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.banyan_image{
    width: 353.33px;
    height: 121px;
}

.patrick_image{
    width: 353.33px;
    height: 121px;
}

.figo_image{
    width: 353.33px;
    height: 121px;
}



.content_card_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .content_card {
    width: 1320px;
    display: flex;
    justify-content: space-around;
}

 .image-container {
    position: relative;
    display: inline-block;
    background-color: black;
    opacity: 0.9;
  }

  .image-container img {
    width: 570px;
    height: 265px;
    display: block;
    opacity: 0.4;
  }

  .overlay-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .overlay-button {
    width: 130px;
    height: 49px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #e3a856; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }

  .carosel_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.carosel_header{
    width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
}

.carosel{
    height: 260px;
    padding-left: 20px;
    padding-right: 20px;
}

.social_medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




@media (max-width: 480px) {
    body {
        background-color: red;
    }
}
 
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}
 
@media (min-width: 768px) or (max-width: 1024px){
   

    .content{
        display: flex;
        max-width: 100%;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .content_left {
        max-width: 624px;
        text-align: center;
    }

    .content_right {
        max-width: 624px;
        text-align: center;
    }

    .content_divisions {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        gap: 50px;
    }

    .content_divisions_logos {
        width: 624px !important;
        display: flex;
        justify-content: space-between !important;
    }

    .banyan_image {
        width: 152px!important;
        height: 121px!important;
    }

    .patrick_image {
        width: 240px!important;
        height: 121px!important;
    }

    .figo_image {
        width: 114px!important;
        height: 121px!important;
    }

    .content_card_container {
        width: 744px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content_card {
        width: 624px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
     .image-container {
        width: 624px;
        position: relative;
        display:flex;
        background-color: black;
        opacity: 0.9;
      }
    
      .image-container img {
        width: 100% !important;
        height: 259px;
        display: block;
        opacity: 0.4;
      }
    
      .overlay-text {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
    
      .overlay-button {
        width: 130px;
        height: 49px;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: black;
        background-color: #e3a856; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: none;
      }
}
@media (min-width: 1024px) and (max-width: 1280px){
    

    .content_container{
        gap: 60px;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .content_left{
        flex: 1;
    
        font-size: 55px;
    }
    
    .content_right{
        flex: 1;
    }

    .content_divisions{
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        gap: 50px;
    }
    
    .content_divisions_header{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    
    .content_divisions_logos{
        width: 1160px !important;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    
    .content_divisions_logo{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    
    .banyan_image{
        width: 353.33px;
        height: 121px;
    }

    .patrick_image{
        width: 353.33px;
        height: 121px;
    }

    .figo_image{
        width: 353.33px;
        height: 121px;
    }

    .content_card_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content_card {
        width: 1160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
    }
    
     .image-container {
        width: 550px !important;
        position: relative;
        display: inline-block;
        background-color: black;
        opacity: 0.9;
      }
    
      .image-container img {
        width: 100% !important;
        height: 265px;
        display: block;
        opacity: 0.4;
      }
    
      .overlay-text {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
    
      .overlay-button {
        width: 130px;
        height: 49px;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: black;
        background-color: #e3a856; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: none;
      }
}
 
@media (min-width: 1281px) {
    .content_container{
        gap: 60px;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .content_left{
        flex: 1;
       
    
        font-size: 55px;
    }
    
    .content_right{
        flex: 1;
    }

    .content_divisions{
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
       
        gap: 50px;
    }
    
    .content_divisions_header{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    
    .content_divisions_logos{
        width: 1160px !important;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    
    .content_divisions_logo{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    
    .banyan_image{
        width: 353.33px;
        height: 121px;
    }

    .patrick_image{
        width: 353.33px;
        height: 121px;
    }

    .figo_image{
        width: 353.33px;
        height: 121px;
    }

    .content_card_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content_card {
        width: 1160px;
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
    }
    
     .image-container {
        width: 550px !important;
        position: relative;
        display: inline-block;
        background-color: black;
        opacity: 0.9;
      }
    
      .image-container img {
        width: 550px !important;
        height: 265px;
        display: block;
        opacity: 0.4;
      }
    
      .overlay-text {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
    
      .overlay-button {
        width: 130px;
        height: 49px;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: black;
        background-color: #e3a856;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: none;
      }
} */